[defaults]
host_key_checking = False
gathering = smart
gather_subset = all
fact_caching = jsonfile
fact_caching_timeout = 86400
fact_caching_connection = .cache
nocows = 0
timeout = 10
transport = paramiko
accelerate_connect_timeout = 1.0
